include *.txt
include debian/*
include docs/*
include examples/*
include jsonwidget/schema/*.json
include jsonwidget/schema/v2/*.json
include jsonwidget/schema/desktopcouch/*.json
include jsonwidget/schema/v2/desktopcouch/*.json
include jsonwidget/server/*.css
include jsonwidget/server/*.js
include jsonwidget/server/*.py
include jsonwidget/server/*.tpl
include csvedit
include jsonedit
include jsonaddress
include jwc
include stdeb.cfg

