Source: python-jsonwidget
Maintainer: Rob Lanphier <robla@robla.net>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.7.2
XS-Python-Version: current

Package: python-jsonwidget
Architecture: all
Depends: ${python:Depends}, python-urwid, python-simpleparse, python-pkg-resources
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Homepage: http://robla.net/jsonwidget
Description: Terminal window form creation from JSON data structures
 This library allows an application developer to provide a curses-based user 
 interface for an application using not much more than a JSON schema.  The 
 JSON schema language is described here:
 http://robla.net/jsonwidget/jsonschema/
 .
 However, most people will find it much simpler to use a tool to generate a 
 schema for tweaking.  The tool available here will generate a schema from an
 example piece of JSON, and allow editing the resulting file:
 http://robla.net/jsonwidget/example.php?sample=byexample&user=normal
 .
 This library currently only operates on a subset of JSON files, but a near-term
 goal is to allow editing of any arbitrary JSON file.
 .
 The following utilities are included with jsonwidget:
 jsonedit - a general purpose json editing program
 jsonaddress - an example JSON address book editor
 .
 Website: http://robla.net/jsonwidget
